body {
    margin: 0px;
}

/* section 1 */
.blog1 {
    display: flex !important;
    padding: 80px 80px;
    margin: 0px 90px;
}

.blog1a {
    width: 100%;
    padding-top: 20px;
    padding-right: 80px;
}

.blog1d {
    width: 100%;
}

.or {
    color: orangered;
}

.blog1b {
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
}


.blog1c {
    padding-bottom: 35px;
    font-size: 20px;
}

.image1 {
    width: 565px;
    border-radius: 10px;
    height: auto;
}

.bt1 {
    text-decoration: none;
    background-color: orangered;
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 20px;
    color: aliceblue;
}

/* blog section 2*/

.blog2 {
    display: flex;
    padding: 80px 80px;
    margin: 0px 90px;
}

.abc2 {
    width: 100%;
    padding-left: 100px;
    padding-top: 100px;
}

.blog2a {
    width: 100%;
}

.or {
    color: orangered;
}

.blog2c {
    font-size: 50px;
    font-weight: 800;
    line-height: 30px;
    text-align: left;
}

.blog2d {
    text-align: left;
    padding-bottom: 35px;
    font-size: 20px;
}

.blog2e {
    padding-left: 50px;
    padding-top: 20px;
}

.image2 {
    width: 565px;
    border-radius: 10px;
    height: auto;
}

.bt2 {
    text-decoration: none;
    background-color: orangered;
    padding: 15px 40px;
    border-radius: 5px;
    color: aliceblue;
    font-size: 20px;
}

/* CSS for Contact*/

.contact {
    padding: 50px 0px;
}

.con-2 {
    margin: 0px 350px;
}

.contacth {
    text-align: center;
    font-size: 30px;
    font-size: 50px;
    font-weight: 800;
    line-height: 30px;

}

.contactp {
    text-align: center;
    font-size: 20px;
}

.forms {
    margin: 50px 0px;
    padding: 100px 0px 100px 200px;
    background-color: rgb(233, 240, 167);
}

.input1 {
    padding: 13px 15px;
    border-radius: 5px 0px 0px 5px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: #d2cccc;

}


input.input2 {
    padding: 13px 40px;
    border-radius: px 5px 5px 0px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin-left: -5px;
    background-color: #f44336;
    color: #fff;
}


/* CSS for Footer section*/
.footer {
    background-color: black;
    padding: 60px 0px;
}

.footer-h {
    color: tomato;
    text-align: center;


}

.footer-p {
    color: aliceblue;
    text-align: center;

}

.footer-copy {
    color: #ffff;
    text-align: center;
}